<style>
   .form-control {
      display: block;
      width: 100%;
      padding: 0.375rem 0.75rem;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.5;
      color: #3e5569;
      background-color: #eaeaea;
      background-clip: padding-box;
      border: 1px solid #e9ecef;
      -webkit-appearance: none;
      appearance: none;
      border-radius: 2px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
   }

   .form-select {
      display: block;
      width: 100%;
      padding: 0.375rem 1.75rem 0.375rem 0.75rem;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.5;
      color: #3e5569;
      vertical-align: middle;
      background-color: #eaeaea;
      background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e);
      background-repeat: no-repeat;
      background-position: right 0.75rem center;
      background-size: 16px 12px;
      border: 1px solid #e9ecef;
      border-radius: 2px;
      -webkit-appearance: none;
      appearance: none;
   }
</style>

<div class="page-wrapper">


   <div class="card rounded-3">

      <div class="card-body p-4 p-md-5">
         <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Patient Registration</h3>
         <form action="/admin/add-patient" method="POST" class="px-md-2">

            <div class="form-outline mb-2">
               <label class="form-label" for="name">Name of the Patient</label>
               <input type="text" name="name" id="name" required="required" pattern="[A-Z a-z.]{3,25}"
                  title="Name should be in charecter" class="form-control" aria-required="true" required />
            </div>
            <input type="hidden" name="p_id" id="p_id" value="{{patientId}}" class="form-control" disabled>
            <input type="hidden" name="p_id" value="{{patientId}}">
            <div class="row">
               <div class="col-md-6 mb-3">
                  <div class="form-outline datepicker">
                     <label for="age" class="form-label">Age</label>
                     <input type="number" name="age" class="form-control" id="age" required />
                  </div>
               </div>
               <div class="col-md-6 mb-3">
                  <label for="age" class="form-label">Gender</label>
                  <select class="select form-select" name="gender" required>
                     <option value="" selected disabled>Select Gender</option>
                     <option value="Female">Female</option>
                     <option value="Male">Male</option>
                  </select>

               </div>
            </div>

            <div class="row">
               <div class="col-md-6 mb-3">
                  <div class="form-outline mb-2">
                     <label class="form-label" for="name">Email</label>
                     <input type="email" name="email" id="email" class="form-control" required />
                  </div>
               </div>
               <div class="col-md-6 mb-3">
                  <div class="form-outline mb-2">
                     <label class="form-label" for="name">Password</label>
                     <input type="password" name="password" id="password" class="form-control" required />
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-md-6 mb-3">
                  <div class="form-outline mb-2">
                     <label class="form-label" for="name">Panchayath</label>
                     <input type="text" name="panchayath" id="panchayath" class="form-control" required />
                  </div>
               </div>
               <div class="col-md-6 mb-3">
                  <div class="form-outline mb-2">
                     <label class="form-label" for="name">Ward No</label>
                     <input type="number" name="wardNo" id="wardNo" class="form-control" required />
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-md-6 mb-3">
                  <div class="form-outline mb-2">
                     <label class="form-label" for="name">Guardian's Name</label>
                     <input type="text" name="g_name" id="g_name" class="form-control" required />
                  </div>
               </div>
               <div class="col-md-6 mb-3">
                  <div class="form-outline mb-2">
                     <label class="form-label" for="name">Guardian's Phone Number</label>
                     <input type="number" name="g_mobile" id="g_mobile" class="form-control" required />
                  </div>
               </div>
            </div>

            <div class="form-outline mb-2">
               <label class="form-label" for="name">Address</label>
               <input type="text" name="address" id="address" class="form-control" required />
            </div>

            <label for="age" class="form-label">Ration Card</label>
            <select class="select form-select" name="ration_card">
               <option value="1" selected disabled>Select Ration Card Color</option>
               <option value="yellow">Yellow</option>
               <option value="pink">Pink</option>
               <option value="blue">Blue</option>
               <option value="white">White</option>
            </select>

            <hr>
            <h4>Primary Conditions</h4>

            <div class="form-outline mb-2">
               <label class="form-label" for="Disease">Disease</label>
               <input type="text" name="disease" id="disease" class="form-control" required />
            </div>

            <div class="form-outline mb-2">
               <label class="form-label" for="nurseNote">Note to Nurse</label>
               <textarea cols="3" name="nurseNote" id="nurseNote" class="form-control" required></textarea>
            </div>

            <div class="form-outline mb-2">
               <label class="form-label" for="care_status">Care status</label>
               <textarea cols="3" name="care_status" id="care_status" class="form-control" required></textarea>
            </div>



            <button type="submit" class="btn btn-success btn-lg mb-1 w-100 text-white mt-4"
               onclick="validateme();">Submit</button>
         </form>

      </div>
   </div>

</div>